body {
    background-color: #E8FECA;
}

#content {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

#chat_field {
    padding-bottom: 3%;

    background-color: white;
    border: 1px solid black;
    border-bottom: none;
    height: 50%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.bot_message {
    margin-left: 3%;
    margin-right: 60%;
    margin-top: 4%;
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.bot_text {
    padding-left: 4%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.client_message {
    margin-right: 3%;
    margin-left: 60%;
    margin-top: 4%;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.client_text {
    padding-left: 4%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.inp {
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: none;
    height: 7%;
}

.inp input[type=text] {
    margin-bottom: 1%;
    background-color: white;
    border: 1px solid black;
    height: 100%;
    border-bottom-left-radius: 27px;
    border-top-left-radius: 27px;
    padding-left: 5%;
    width: 75%;
}

.inp input[type=submit] {
    text-align: center;
    height: 102%;
    width: 25%;
    border-bottom-right-radius: 27px;
    border-top-right-radius: 27px;
    background-color: #2E4F02;
    border: 0.5px solid black;

    font-size: 13pt;
    color: white;
}

.heading {
    background-color: #2E4F02;
    border: 1px solid black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 10%;
}

.heading #icon {
    margin-left: 3%;
    margin-top: 0.5%;
    border: 1px solid #2E4F02;
    border-radius: 70px;
    background-image: url('icon.gif');
    height: 7%;
    width: 2.6%;
    position: fixed;
}

.heading #name {
    padding-left: 10%;
    padding-top: 1.5%;
    font-size: 20pt;
    color: white;
}